<%- include('../../fragment/header.ejs') %>

<main>
    <h2>Customers</h2>
   <table class="table-list">
    <thead>
        <tr>
            <th>FirstName</th>
            <th>LastName</th>
            <th>NickName</th>
            <th>PhoneNumber</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    <% for (let cust of custs) { %>
        <% if(loggedUser.phoneNumber === cust.phoneNumber) {%>
        <tr>
            <td><%= cust.firstName %></td>
            <td><%= cust.lastName %></td>
            <td><%= cust.nickName %></td>
            <td><%= cust.phoneNumber%></td>
            <td>
                <ul class="list-actions">
                    <li>
                        <a href = "/customers/details/<%= cust._id%>" class="list-actions-button-details">Details</a>
                    </li>
                    <li>
                        <a href = "/customers/edit/<%= cust._id%>" class="list-actions-button-edit">Edit</a>
                    </li>
                    <li>
                        <a href = "/customers/delete/<%= cust._id%>" class="list-actions-button-delete">Delete</a>
                    </li>
                </ul>
            </td>
        </tr>
    <% } else if(admin) {%>
        <tr>
            <td><%= cust.firstName %></td>
            <td><%= cust.lastName %></td>
            <td><%= cust.nickName %></td>
            <td><%= cust.phoneNumber%></td>
            <td>
                <ul class="list-actions">
                    <li>
                        <a href = "/customers/details/<%= cust._id%>" class="list-actions-button-details">Details</a>
                    </li>
                    <li>
                        <a href = "/customers/edit/<%= cust._id%>" class="list-actions-button-edit">Edit</a>
                    </li>
                    <li>
                        <a href = "/customers/delete/<%= cust._id%>" class="list-actions-button-delete">Delete</a>
                    </li>
                </ul>
            </td>
        </tr>
    <% } %>
        <% } %>

    </tbody>
   </table>
    <% if(admin) {%>
   <p><a href = "/customers/add" class="button-add">Add new customer</a></p>
    <% } %>
</main>

<%- include('../../fragment/footer.ejs') %>